@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);


body {
  font-family: 'Droid Serif', Georgia, serif;
  font-size: 18px;
}

h1 {
  color: #0093B5;
  text-shadow: 1px 1px 5px #aaa;
}

h1, h2, h3 {
  font-family: "lato", helvetica, sans-serif;  
  
}

.remark-slide-content p, ol, ul {
  font-size: 1.25em;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 90%;
}

#footer-logo {
  width: 100px;
}

.footer-item {
  margin: 10px 20px;
}

.smallImage, .bigImage {
  display: block;
  text-align: center;
}

.smallImage img {
  width: 50%;
}

.bigImage img {
  width: 100%;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}